<nav>
    <div class="nav-wrapper">
      <a  class="brand-logo">GitApp</a>
      <ul class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
<body>
<section class="container home">
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <div class="form-group form-md-line-input form-md-floating-label" [ngClass]="{'has-error':!getUser.controls['UNAME'].valid && getUser.controls['UNAME'].touched}">
          <input type="text" name="UNAME" [formControl]="getUser.controls['UNAME']" placeholder="Enter username">
          <span *ngIf="getUser.controls['UNAME'].hasError('required') && getUser.controls['UNAME'].touched"
          class="help-block">required field</span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [class.disabled]="getUser.invalid" (click)="onGo()">
      Go
    </button>
  </form>
</section>
</body>